<div class="container" ng-controller="contactsCtrl" >
          
          
          
        <form name="contactform" novalidate>
          <table class="table table-condensed">
              <tr><th colspan="3">Add or Update a contact</th></tr>
              <tr>
                  <td class="col-sm-2">Full name:</td>
                  <td class="col-sm-7"><input type="text" class="form-control"
                             name="name" required ng-model="contact.name" ></td>
                  <td class="col-sm-3">
                        <span class="error" ng-show="contactform.name.$invalid && !contactform.name.$pristine">*</span>
                  </td>
              </tr>
              
               <tr>
                  <td>Phone:</td>
                  <td>  <input type="text"  class="form-control" 
                              name="phone" ng-pattern="patternphone" ng-maxlength="15" ng-model="contact.phone">
                  
                  </td>
                  <td>
                      <span class="error" ng-show="contactform.phone.$error.pattern">Phone numbers can contain only digits and +/-</span>
                      <span class="error" ng-show="contactform.phone.$error.maxlength">Phone number too long</span>
                  </td>
              </tr>
              
               <tr >
                  <td>Address:</td>
                  <td><input type="text" class="form-control" name="addr" ng-model="contact.addr" ></td>
                  <td></td>
              </tr>
              <tr>
              <td>
                  
                   <button style="float:right" class="btn btn-primary btn-sm" ng-click="reset()">RESET</button>
              </td>
                  <td colspan="2">
                      <div  ng-switch="buttontype">
                          
                          
                      <button ng-switch-when="save"  ng-disabled="contactform.$invalid" 
                              class="btn btn-primary btn-sm col-sm-4" ng-click="saveContact()">SAVE</button>
                        <button ng-switch-when="update" ng-disabled="contactform.$invalid" 
                                class="btn btn-primary btn-sm col-sm-4" ng-click="updateContact()">UPDATE</button>
                      </div>
                      
                 <p class="text-success col-sm-4">  {{message2}} </p>
                    </td>
                    
                  
              </tr>
           
          </table>
        </form>
          

        
      
      
   
    
    <form class="form-inline searchform">
        <div class="form-group">
            <label ><span class="glyphicon glyphicon-search"></span></label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
   
              <table class="table table-striped table-hover table-condensed" >
                  <tr>
                      <th class="col-sm-1" ng-click="sort('id')">ID
                       <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      </th>
                      <th class="col-sm-3" ng-click="sort('name')">full name
                      <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th class="col-sm-3" ng-click="sort('phone')">phone
                      <span class="glyphicon sort-icon" ng-show="sortKey=='phone'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th class="col-sm-5" ng-click="sort('addr')">address
                      <span class="glyphicon sort-icon" ng-show="sortKey=='addr'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th></th>
                  </tr>
                  <tr dir-paginate="contactitem in contactlist|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                  <td><a ng-click="pickContact(contactitem)">{{contactitem.id}}</a></td>
                      <td>{{contactitem.name}}</td>
                      <td>{{contactitem.phone}}</td>
                      <td>{{contactitem.addr}}</td>
                      <td> <button class="close"  ng-click="deleteContact(contactitem.id)">&times;</button></td>
                  </tr>
              </table>
        <dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
  
   
                    
        
                  
    </div>  